

<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Project Management</title>
  <!-- Meta-Tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="keywords" content=""/>

  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }

  </script>
  <!-- //Meta-Tags -->
  <!-- Stylesheets -->
  <link href="static/css/style_1.css" rel='stylesheet' type='text/css' />
  <link href="static/css/styles.css" rel="stylesheet">
  <!--// Stylesheets -->
  <!--fonts-->
  <!-- title -->
	<link href="http://fonts.googleapis.com/css?family=Abhaya+Libre:400,500,600,700,800" rel="stylesheet">
  <!-- body -->
  <!--//fonts-->
</head>

<body>
  <header>
    <h1></h1>
  </header>
  <div class="w3ls-contact">

    <!-- form starts here -->
      <form action="project-management" method="post">
          <div style="width: 600px; font-size: 32px; background-color: #1b66a7; padding-top: 10px; padding-bottom: 10px">Project Management</div>
          <div class="agile-field-txt">
              <div class="mr_agilemain">
                  <div class="left-wthree">
                    <label class="bot_w3">Project name:</label> <input type="text" name="project-name">
                  </div>

                </div>
          </div>
          <div class="agile-field-txt">
              <div class="mr_agilemain">
                  <div class="left-wthree">
                    <label class="bot_w3">Project: </label><input type="text" name="project">
                  </div>
              </div>
          </div>

          <div class="agile-field-txt">
              <div class="mr_agilemain">
                  <div class="left-wthree">
                    <label class="bot_w3">SOP: </label><input type="text" name="sop">
                  </div>
              </div>
          </div>

          <divc class="agile-field-txt">
              <div class="mr_agilemain">
                  <div class="left-wthree">
                    <label class="bot_w3">TMA: </label><input type="text" name="tma">
                  </div>
              </div>
          </divc>

          <div class="agile-field-txt">
              <div class="mr_agilemain">
                  <div class="left-wthree">
                      <label class="bot_w3">Carline: </label>
                      <input type="checkbox" name="carline" value="TL">  TL&nbsp&nbsp&nbsp
                      <input type="checkbox" name="carline" value="CL">  CL&nbsp&nbsp&nbsp
                      <input type="checkbox" name="carline" value="CL+">  CL+&nbsp&nbsp&nbsp
                      <input type="checkbox" name="carline" value="HL">  HL&nbsp&nbsp&nbsp
                      <input type="checkbox" name="carline" value="Flagship">  Flagship&nbsp&nbsp&nbsp
                      <input type="checkbox" name="carline" value="Edition 1">  Edition 1 &nbsp&nbsp&nbsp&nbsp&nbsp
                      <input type="checkbox" name="carline" value="L1">  L1&nbsp&nbsp&nbsp
                      <input type="checkbox" name="carline" value="L2">  L2&nbsp&nbsp&nbsp
                      <input type="checkbox" name="carline" value="L3">L3&nbsp&nbsp&nbsp
                      <input type="checkbox" name="carline" value="L4">L4&nbsp&nbsp&nbsp
                  </div>
              </div>
          </div>

          <div class="w3ls-contact w3l-sub">
              <input type="submit" value="Enter">
          </div>
      </form>
  </div>

  <!-- //form ends here -->
</body>
<!-- //Body -->

</html>